* {
	padding-top: 0px;
	padding-left: 0px;
}

body {
	margin: 0px;
	height: 530px;
	width: 300px;
	background-color: #8CF3FF;
}

header {
	height: 10%;
	width: 100%;
	background-color: red;
}

#search-box {
	height: 20%;
	width: 100%;
	background: yellow;
}

#search-box-content {
	padding: 20px 20px;
}

#search-box-content input {
	height: 15px;
	border-radius: 5px;
}